@import url("http://fonts.googleapis.com/css?family=Lato:300,400,900");
@import url("http://fonts.googleapis.com/css?family=Roboto:100,300,400,700");
@import "compass";
@import "buttons";


// Scaffolding
$ext-color: black;

// Typography
$font-size-base: 14px;
$font-family-sans-serif: 'Roboto', sans-serif;

@import "bootstrap";
@import "*";

body {
  padding-top: 60px;
}

body, input, select, textarea {
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 1.75em;
}

input[type=checkbox] {
  margin-top: 8px;
}

section {
  margin-top: 30px;

  p {
    font-size: 0.9em;
  }

  header {
    &.bold {
      h1, h2 {
        font-weight: 900;
      }
    }

    h1, h2 {
      font-weight: normal;
      font-family: 'Lato', sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.2em;
    }
    h1 { font-size: 1.8em; }
    h2 { font-size: 1.2em; }
  }
}

.color-block {
  background-color: #EFEFEF;
}

.block-center {
  float: none;
  margin: 0 auto;
}

nav {
  font-size: 16px;
  background-color: #FFF;
  @include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.075));

  .navbar-brand {
    color: #000;
    font-weight: bold;
  }

  .navbar-nav {
    font-size: 0.9em;
    li {
      a {
        color: #000;
        font-weight: 300;
      }
    }
    text-transform: uppercase;
  }

  .navbar-toggle {
    .icon-bar {
      background-color: #000;
    }
  }

  #navbar {
    min-height: 50px;
    overflow: hidden;
  }
}

footer {
  @include box-shadow(0 -2px 2px 0 rgba(0, 0, 0, 0.075));
  padding: 2.5em 0;
  margin-top: 3em;
}


@media (min-width: 768px) {
  .container {
    width: 740px;
  }

  body, input, select, textarea {
    /*font-size: 12pt;*/
  }
}
@media (min-width: 992px) {
  .container {
    width: 880px;
  }
  body, input, select, textarea {
    /*font-size: 12pt;*/
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1020px;
  }

  body, input, select, textarea {
    /*font-size: 14pt;*/
  }
}
