@import url("http://fonts.googleapis.com/css?family=Lato:300,400,900");
@import url("http://fonts.googleapis.com/css?family=Roboto:100,300,400,700");
@import "compass";
@import "buttons";
@import "gym_membership";

body {
  padding-top: 60px;
}

body, input, select, textarea {
  color: #000;
  font-family: 'Lato', sans-serif;
  /*font-size: 10pt;*/
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 1.75em;
}

section {
  padding-top: 60px;
  padding-bottom: 30px;

  p {
    font-size: 0.9em;
  }

  header.bold h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.3em;
    letter-spacing: 0.2em;
    margin-bottom: 50px;
  }
}

.color-block {
  background-color: #EFEFEF;
}

nav {
  background-color: #FFF;
  @include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.075));

  .navbar-brand {
    color: #000;
    font-weight: 300;
  }

  .navbar-nav {
    font-size: 0.9em;
    li {
      a {
        color: #000;
        font-weight: 300;
      }
    }
    text-transform: uppercase;
  }

  .navbar-toggle {
    .icon-bar {
      background-color: #000;
    }
  }
}


#banner {
  background-attachment: scroll, scroll, scroll, fixed;
  cursor: default;
  padding: 6em 0;
  text-align: center;

  .inner {
    display: inline-block;
    padding: 3em;
    text-align: center;

    header {
      display: inline-block;
      margin: 0;
      padding: 3px 0 3px 0;


      h2 {
        font-size: 3.5em;
        font-weight: 100;
        letter-spacing: 0.15em;
        margin: 0;
        padding-left: 0.05em;
        position: relative;
        text-transform: uppercase;
        line-height: 1.5em;
      }
    }

    p {
      letter-spacing: 0.1em;
      margin: 0;
      text-transform: uppercase;

      a {
        color: inherit;
        font-weight: 400;
        text-decoration: none;
      }


    }

    footer {
      margin: 2em 0 0 0;
    }
  }
}


#classes {
  background-color: #83d3c9;
  color: white;

  .offered-class {
    padding-left: 70px;

    .pic {
      position: absolute;
      top: 0;
      left: 10px;
      display: inline-block;
      font-size: 36px;
      text-align: center;
      line-height: 0;
      width: 60px;

      img {
        width: 36px;
      }
    }

    header {
      text-transform: uppercase;
      font-size: 1.2em;
      font-weight: 500;
    }

    p {
      &.schedule {
        font-weight: 500;
      }
    }

    padding-bottom: 40px;
  }
}

#about {
  p {
    margin-bottom: 40px;
  }
}

#getting-started {
  p {
    margin-bottom: 40px;
  }
}

#contact {
  form {
    max-width: 600px;
  }
}

footer {
  @include box-shadow(0 -2px 2px 0 rgba(0, 0, 0, 0.075));
  padding: 3em 0;
  margin-top: 3em;
}


@media (min-width: 768px) {
  .container {
    width: 740px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 880px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1020px;
  }
}


@media screen and (max-width: 768px) {
  #banner .inner {
    padding: 2em;
    header h2 {
      font-size: 2em;
    }

  }
}

@media screen and (max-width: 768px) {
  #banner .inner {
    header h2 {
      font-size: 1.2em;
      font-weight: 700;
    }

    address {
      font-size: 0.8em;
    }
  }
}

.center-block {
  float: none;
}
