@import url("http://fonts.googleapis.com/css?family=Lato:300,400,900");
@import url("http://fonts.googleapis.com/css?family=Roboto:100,300,400,700");
@import "compass";
@import "buttons";
@import "bootstrap";
@import "*";

body {
  padding-top: 60px;
}

body, input, select, textarea {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 14pt;
  font-weight: 300;
  letter-spacing: 0.025em;
  line-height: 1.75em;
}

input[type=checkbox] {
  margin-top: 8px;
}

section {
  p {
    font-size: 0.9em;
  }

  header.bold {
    h1, h2 {
      font-family: 'Lato', sans-serif;
      font-weight: 900;
      text-transform: uppercase;
      font-size: 1.3em;
      letter-spacing: 0.2em;
    }
  }
}

.color-block {
  background-color: #EFEFEF;
}

.block-center {
  float: none;
  margin: 0 auto;
}

nav {
  background-color: #FFF;
  @include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.075));

  .navbar-brand {
    color: #000;
    font-weight: bold;
  }

  .navbar-nav {
    font-size: 0.9em;
    li {
      a {
        color: #000;
        font-weight: 300;
      }
    }
    text-transform: uppercase;
  }

  .navbar-toggle {
    .icon-bar {
      background-color: #000;
    }
  }

  #navbar {
    min-height: 50px;
    overflow: hidden;
  }
}

footer {
  @include box-shadow(0 -2px 2px 0 rgba(0, 0, 0, 0.075));
  padding: 2.5em 0;
  margin-top: 3em;
}


@media (min-width: 768px) {
  .container {
    width: 740px;
  }

  body, input, select, textarea {
    font-size: 12pt;
  }
}
@media (min-width: 992px) {
  .container {
    width: 880px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1020px;
  }

  body, input, select, textarea {
    font-size: 14pt;
  }
}

@media screen and (max-width: $screen-sm-min) {
  #banner .inner {
    padding: 2em;
    header h2 {
      font-size: 2em;
    }

  }
}

@media screen and (max-width: $screen-xs-min) {
  #banner .inner {
    header h2 {
      font-size: 1.2em;
      font-weight: 700;
    }

    address {
      font-size: 0.8em;
    }
  }
}

